@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/dm-serif-display-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 200 800;
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
} 

@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/tenor-sans-regular.woff2') format('woff2');
    font-display: swap;
}

