@import url('reset.css');
@import url('main.css');
@import url('fonts.css');
@import url('components/buttons.css');
@import url('components/inputs.css');
@import url('components/modal.css');


header{
    height: 80px;
}

#registration-page{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../assets/img/FOTO\ FRENTE\ LOJA.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.registration-card{
    width: 700px;
    height: 800px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border-radius: 12px;
    background-color: var(--offwhite);
}

.subtitle{
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    font-family: var(--ff-title), serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.04em;
    
    color: var(--clr-primaria);
}

.btn-tertiary {
   height: 44px;
}