/* Regras aplicadas apenas para telas com largura máxima de 768px (Tablets e Celulares) */
@media (max-width: 768px) {
    
    .logo {
        display: none;
    }

    .marca {
        display: none;  
    }

    .linha-dividida {
        flex-direction: column; /* Coloca a Data em cima e o Sexo embaixo */
        gap: 24px;
    }

    .card-formulario {
        padding: 24px; /* Diminui o respiro do card no celular */
    }
    
    /* Redução geral de espaçamentos nas seções */
    .sobre, 
    .informações, 
    .feedback, 
    .formulario {
        padding: 4rem 1.5rem; /* Reduz o espaço nas laterais e em cima/baixo */
    }

    /* Ajuste da Tipografia (Títulos menores) */
    .sobre-titulo {
        font-size: 40px; 
    }

    .informações-titulo, 
    .feedback-titulo, 
    .cadastro-titulo {
        font-size: 32px;
        margin-bottom: 2rem;
    }

    /* Ajustes na caixa de texto "Sobre" */
    .sobre-caixa {
        padding: 1.5rem;
        font-size: 16px; /* Texto um pouco menor para não cansar a leitura */
    }

    .sobre-caixa ul {
        padding: 10px 20px; /* Reduz o recuo dos marcadores no celular */
    }

    /* Ajustes no Grid e Cards */
    .informações-caixa,
    .feedback-caixa {
        grid-template-columns: 1fr; 
        gap: 2rem; 
    }

    .paragrafo-informações,
    .sobre-paragrafo, 
    .feedback-paragrafo {
        font-size: 16px;
    }

    /* Correção do Efeito de Destaque */
    #card-central {
        transform: scale(1); /* Retira o zoom para que os cards empilhados fiquem uniformes */
    }

    /* Ajuste da Navegação (Menu) */
    .navegacao {
        padding: 1rem;
    }

    .navegacao-links .btn {
        /* Oculta ou diminui o botão de "Entrar" se faltar espaço*/
        min-width: auto;
        padding: 8px 12px;
    }
}

/* Regras para telas MUITO pequenas (Celulares antigos) */
@media (max-width: 480px) {
    .sobre-titulo {
        font-size: 32px;
    }
    
    .titulo-simples {
        font-size: 20px;
    }
}