.modal{
    width: 400px;
    height: fit-content;
    padding: 40px 30px;
    border-radius: 16px;
    background-color: #F2F1ED;
    box-shadow: 0px 6px 10px color-mix(in srgb, var(--charcoal) 30%, transparent);

    
    position: absolute;
    top: 70px;
    right: 16px;
    left: auto;
}

.modal[open]{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.modal::backdrop{
    background-color: color-mix(in srgb, var(--charcoal) 30%, transparent);
}

.modal h2{
    margin-bottom: 20px;
    color: var(--text-light);
    font-family: var(--ff-title);
    font-weight: 400;
}

.modal p{
    color: var(--clr-primaria);
    font-size: 24px;
}

.close-button{
    margin-bottom: 8px;
    align-self: flex-end;
    height: 24px;
    width: 24px;
}

.close-button svg{
    color: var(--clr-primaria);
}

.status-message {
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--ff-body);
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo para quando for erro */
.status-message.error {
    /* background-color: #f8d7da; */
    color: #721c24;
    /* border: 1px solid #f5c6cb; */
    align-self: flex-start;
}