.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    min-height: 0;
}

.form-grid{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    gap: 16px;
    align-items: end;
}

.form-group, 
.form-group-fieldset{
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.form-group-fieldset{
    flex: 1;
    align-items: flex-start;
}

.form-group-fieldset legend{
    display: block;
    float: left;
    padding-left: 2px;
}

.form-group input {
    width: 100%;
    box-sizing: border-box;
}

.form-group p {
    font-family: var(--ff-detail);
    margin-top: 4px; 
    font-size: 14px;
    color: var(--text-light); 
    line-height: 1.4;
    display: flex;
    align-items: flex-start;
    gap: 6px;
}

.form-group p::before {
    content: "•";
}

#mensagem-cep::before,
#mensagem-cpf::before,
#mensagem-confirmacao::before,
#mensagem-nomeCompleto::before,
#mensagem-login::before {
    content: "";
}

#mensagem-cep,
#mensagem-cpf {
    color: red;
    height: 14px;
}

.has-validation {
    position: relative;
    padding-bottom: 24px; 
}

.error-text {
    position: absolute;
    bottom: 0; 
    left: 0;  
    margin: 0;
    font-size: 0.875rem;
    color: #dc3545;
    line-height: 1.2;
}

.mensagem-regra{
    color: #161616;
    transition: color 0.3s ease;
}

.mensagem-regra.valido{
    color: green;
}

.mensagem-regra.invalido{
    color: red;
}

.cep-wrapper{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 16px;
    row-gap: 4px;
    align-items: end;
}

.form-label,
.form-label-sex{
    font-family: var(--ff-body), sans;
    font-size: 14px;
}

.form-label{
    font-weight: 600;
    padding-left: 4px;
    width: 100%;
    height: 20px;
}

.form-label-sex{
    font-weight: 400;
}

.radio-options{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 44px;
    width: 100%;
}

.select-box{
    display: flex;
    width: 100%;
    gap: 6px;
    border-color: var(--clr-primaria);
    box-sizing: border-box;
    
}

.select-box select{
    /*Seta dentro do select*/
    appearance: none;
    /* background-image: url('../assets/icons/chevron-down.svg'); */
    background-repeat: no-repeat;
    background-position: top 25% right 80%;
    background-size: 24px;
    background-position-x: right;
    background-position-y: center;
    
    flex:1;
    box-sizing: border-box;
}

.border-bottom {
    grid-column: span 12;
    border: none;
    border-top: 1px solid #d9d9d9;
    margin: 8px 0;
}

.form-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    gap: 16px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #d9d9d9;
}

.grid-col-12 {grid-column: span 12;}
.grid-col-9 {grid-column: span 9;}
.grid-col-8 {grid-column: span 8;}
.grid-col-7 {grid-column: span 7;}
.grid-col-6 {grid-column: span 6;}
.grid-col-4 {grid-column: span 4;}
.start-col {grid-column: 8 / span 5;}
